@import 'base.css';

#modal {position: fixed; width: 100%; height: 100%; background-image: linear-gradient(rgba(247, 168, 180, 0.7), rgba(232, 193, 95, 0.7), rgba(173, 252, 255, 0.7)); z-index: 200; }
#modal_cont {width:80%; margin:20% auto; color: #f1f1f1;}
#modal_cont h2 {color: rgb(255, 239, 209); font-weight: bold; text-align: center; padding: 30px;}
.wrap {width: 100%; height: 100%;}
ul.navs {z-index: 10000;}
li.nav {width: 50%; float:left; padding: 0.75rem; padding-bottom: calc(0.75rem + 14px); text-align: center; font-size: 1.5rem; border-bottom: none; cursor: pointer; background-color: white; position: relative;}
.cont {border:5px solid #ccc; height:calc(100% - 1.5rem - 2.25rem); margin-top : -5px; position: relative; z-index: 1; overflow-y: auto; background-color: antiquewhite} 

li.nav:first-child {z-index:100;}

#city {font-size: 1.25rem;}
#daily {font-size: 1.5rem;}
#daily > ul {margin-top: 10%;}
#daily .icon {width: 50%; margin: 2rem auto; max-width: 300px;}
#daily .temp {width: 100%; margin: auto; padding: 0.5rem; text-align: center; margin: 5px;}
#daily .temp2 {width: 100%; margin: auto; padding: 0.5rem; text-align: center; margin: 5px;}
#daily .city_name {text-align: center; font-size: 1.5em; color:rgb(10, 10, 173); margin: 30px;}

@media screen and (max-width:1024px) {
 #daily li {width:60%;}
}
@media screen and (max-width:768px) {
    #daily li {width:70%;}
    
}
@media screen and (max-width:480px) {
    #daily li {width:80%;}
    
}
@media screen and (max-width:320px) {
    #daily li {width:90%;}
    
}